.container {
  .row {
    .card{
      padding: 3rem;
      margin-top: 10%;
    }
  }
  -webkit-backdrop-filter: blur(3px);
	-moz-backdrop-filter: blur(3px);
	-o-backdrop-filter: blur(3px);
	-ms-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  opacity: .97;
  &:hover {
    opacity: .99
  }
}
