<div class="informacoes" *ngIf="clima">
  <h6>Informacoes do tempo para {{ clima.cidade }}</h6>
  <div>
    General informations:
    <div class="details details-temperatura">
      <span><strong>Temperaturas: </strong></span>
      <p>
        <strong>Atual: </strong><span class="badge badge-warning"> {{ clima.temperatura }}</span>
        <strong>max: </strong><span class="badge badge-danger"> {{ clima.temperatura_maxima }}</span>
        <strong>min: </strong><span class="badge badge-primary"> {{ clima.temperatura_minima }}</span>
      </p>
    </div>
    <div class="details details-localizacao">
      <span><strong>Localização: </strong></span>
      <p>
        <strong>Latitude: </strong>
        <span class="badge badge-light">
          {{ clima.coordenadas.lat }}
        </span>
        <strong>Longitude: </strong>
        <span class="badge badge-light">
          {{ clima.coordenadas.lon }}
        </span>
      </p>
    </div>
    <div class="details details-air">
      <span><strong>Ar: </strong></span>
      <p>
        <strong>Visibilidade: </strong> {{ clima.estadoCeu }}
        <span class="badge badge-light">
          {{ clima.visibilidade }}
        </span>
        <br>
        <strong>Velocidade do vento: </strong>
        <span class="badge badge-light">
          {{ clima.velocidade_vento }}
        </span>
        <strong>Pressão: </strong>
        <span class="badge badge-light">
          {{ clima.pressao }}
        </span>
        <strong>Umidade: </strong>
        <span class="badge badge-light">
          {{ clima.umidade }}
        </span>
    </div>
  </div>
</div>
