<div class="card-body">
  <h5 class="card-title">Clima Agora</h5>
  <h6 class="card-subtitle mb-2 text-muted">Gostaria de pesquisar o clima da sua cidade?</h6>
  <div class="row no-gutters">
    <div class="input-group">
      <input [value]="query"
        ngxTypeahead
        class="form-control"
        [taUrl]="url"
        (taSelected)="handleResultSelected($event)"
      >
    </div>
  </div>
  <div class="row no-gutters">
    <div class="col-sm-12">
      <info-tempo-cidade [clima]="informacoesClima"></info-tempo-cidade>
    </div>
  </div>
</div>
<div *ngIf="pesquisando" class="loader"></div>
